.find-your-city-search {
  border: 2px solid #3a4750;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  height: 48px;
  margin: 30px;
  opacity: 80%;
  padding: 3px;
  text-align: center;
}

::placeholder {
  text-transform: uppercase;
}

.search-city-button {
  bottom: 5px;
  margin-left: 38px;
  position: relative;
  width: 280%;
}

.current-temperature {
  color: #3a4750;
  width: 200px;
  height: 200px;
  position: relative;
  top: -300px;
  left: 780px;
}

.current-temperature h5 {
  font-size: 6em;
}

.current-temperature h6 {
  font-size: 25px;
  margin-left: 15px;
}
