.current-temperature {
  color: #3a4750;
  width: 200px;
  height: 200px;
  position: relative;
  top: -300px;
  left: 780px;
}

.current-temperature h5 {
  font-size: 6em;
}

.current-temperature h6 {
  font-size: 25px;
  margin-left: 15px;
}

.current-temperature h6,
.active {
  color: #3a4750;
  cursor: default;
}

a {
  text-decoration: none;
}
