.Weather h1 {
  color: #3a4750;
  font-family: "Rowdies", cursive;
  padding: 20px;
  padding-bottom: 0;
}

.Weather .find-your-city-search {
  border: 2px solid #3a4750;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  height: 55px;
  margin: 30px;
  opacity: 80%;
  padding: 3px;
  text-align: center;
  width: 200px;
}

::placeholder {
  text-transform: uppercase;
}

.Weather .search-city-button {
  position: relative;
  bottom: 5px;
  margin-left: 10px;
  width: 180px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #3a4750;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  list-style: none;
}

.Weather .formatted-date {
  color: #3a4750;
  font-size: 24px;
  font-family: "Rowdies", cursive;
  padding: 20px;
}

.Weather .temperature {
  color: #3a4750;
  font-weight: bold;
  font-size: 84px;
  line-height: 64px;
  margin-left: 15px;
  font-weight: 400;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: #3a4750;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  top: -44px;
  margin-left: 3px;
}

.Weather .unit a {
  color: #c82333;
}

.Weather .current-weather-summary {
  background-color: rgba(211, 210, 213, 0.3);
  border: 2px solid #3a4750;
  border-radius: 5px;
  color: #3a4750;
  font-size: 20px;
  font-weight: 700;
  height: 140px;
  padding: 20px 15px;
  width: 250px;
}
